
li{
    margin: 10px 0;
}

.list-item{
    display: flex;
    justify-content: center;
    gap: 10px;

    button{
        cursor: pointer;
        background: none;
        color: brown;
        border: none;
        font-weight: bold;
    }
}