

.list-item{
    display: flex;
    justify-content: center;
    gap: 10px;
    
    li{
        margin: 10px 0;
    }

    button{
        cursor: pointer;
        background: none;
        color: brown;
        border: none;
        font-weight: bold;
    }
}
