main{
    font-family: roboto;
    text-align: center;
    height: 100vh;
    width: 100vw;
    
    header{
        padding: 20px 0 10px 0;
        background-color: bisque;
        border-bottom: 1px solid #9e9e9e;
        h3{
            color:cornflowerblue ;
        }
        
        h1{
            background-image: linear-gradient(rgb(218, 119, 5), rgb(255, 31, 154));
            color: transparent;
            background-clip: text;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        nav{
            margin-top: 20px;
            a{
                text-decoration: none;
                color: cornflowerblue;
                margin: 10px;
            }

            .active{
                text-decoration: underline;
                color: brown;
            }
        }
    }
}