ul{
    list-style-type: none;
    padding: 0;
}

p{
    margin: 10px 0;
}

.checkboxs{
    display: flex;
    justify-content: center;
    gap: 10px;

    .checkbox{
        display: flex;
        gap: 5px;
        margin: 10px;
    }
}

button{
    cursor: pointer;
    background-color: brown;
    color: white;
    border: none;
    font-weight: bold;
    padding: 5px 10px;
}